<!DOCTYPE html>
<html>
<head>
  <title>LLProxy Status</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>LLProxy Status</h1>
  <p>Last updated: <%= lastUpdated %></p>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>ID</th>
    </tr>
    <% activeModels.forEach(function(model) { %>
      <tr>
        <td><%= model.name %></td>
        <td><%= model.url %></td>
        <td><%= model.id %></td>
      </tr>
    <% }); %>
  </table>
  <p>Next refresh in <span id="countdown">30</span> seconds</p>
  <script>
    function startCountdown(duration, display) {
      var timer = duration, seconds;
      var countdownInterval = setInterval(function () {
        seconds = parseInt(timer % 60, 10);
        display.textContent = seconds;

        if (--timer < 0) {
          clearInterval(countdownInterval);
          location.reload();
        }
      }, 1000);
    }

    window.onload = function () {
      var thirtySeconds = 30,
          display = document.querySelector('#countdown');
      startCountdown(thirtySeconds, display);
    };
  </script>
</body>
</html>
